h1 {
    color: red;
}

#wrapper {
  width: 99%;
  background-color: #fff;
}

#myChart {
  margin: 10px;
  background-color: #fff;
}

canvas{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
