<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="org.gvsig.app.mainplugin"/>
	<depends plugin-name="org.gvsig.app.document.table.app.mainplugin" />
	<depends plugin-name="es.icarto.gvsig.commons"/>
	<depends plugin-name="es.icarto.gvsig.navtable"/>
	<depends plugin-name="es.icarto.gvsig.navtableforms"/>
	<depends plugin-name="es.udc.cartolab.gvsig.elle"/>
	<depends plugin-name="es.udc.cartolab.gvsig.users"/>
	<depends plugin-name="es.icarto.gvsig.copyfeatures"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.icarto.gvsig.sixhiara.ConfigExtension" active="true">
		</extension>
		<extension class-name="es.icarto.gvsig.sixhiara.FeatureSwitcherExtension" active="true">
		</extension>

		<extension class-name="es.icarto.gvsig.sixhiara.LoadDefaultViewExtension" active="true">

			<menu text="sixhiara/es.icarto.gvsig.sixhiara.LoadDefaultViewExtension" action-command="" position="30000" icon="es.icarto.gvsig.sixhiara.LoadDefaultViewExtension"/>
			<tool-bar name="sixhiara" position="70">
				<action-tool icon="es.icarto.gvsig.sixhiara.LoadDefaultViewExtension" tooltip="es.icarto.gvsig.sixhiara.LoadDefaultViewExtension" action-command="" position="30000"/>
			</tool-bar>

			<menu text="sixhiara" is_separator="true" position="30001"/>
		</extension>

		<extension class-name="es.icarto.gvsig.sixhiara.FontesFormExtension" active="true">
			<menu text="sixhiara/fountains" action-command="" position="30010" icon="es.icarto.gvsig.sixhiara.FontesFormExtension"/>
			<tool-bar name="sixhiara" position="70">
				<action-tool icon="es.icarto.gvsig.sixhiara.FontesFormExtension" tooltip="fountains" action-command="" position="30010"/>
			</tool-bar>
		</extension>
		<extension class-name="es.icarto.gvsig.sixhiara.EstacoesFormExtension" active="true">
			<menu text="sixhiara/stations" action-command="" position="30020" icon="es.icarto.gvsig.sixhiara.EstacoesFormExtension"/>
			<tool-bar name="sixhiara" position="70">
				<action-tool icon="es.icarto.gvsig.sixhiara.EstacoesFormExtension" tooltip="stations" action-command="" position="30020"/>
			</tool-bar>
		</extension>
		<extension class-name="es.icarto.gvsig.sixhiara.BarragensFormExtension" active="true">
			<menu text="sixhiara/reservoirs" action-command="" position="30030" icon="es.icarto.gvsig.sixhiara.BarragensFormExtension"/>
			<tool-bar name="sixhiara" position="70">
				<action-tool icon="es.icarto.gvsig.sixhiara.BarragensFormExtension" tooltip="reservoirs" action-command="" position="30030"/>
			</tool-bar>
		</extension>
		<extension class-name="es.icarto.gvsig.sixhiara.AcuiferosFormExtension" active="true">
			<menu text="sixhiara/aquifers" action-command="" position="30040" icon="es.icarto.gvsig.sixhiara.AcuiferosFormExtension"/>
			<tool-bar name="sixhiara" position="70">
				<action-tool icon="es.icarto.gvsig.sixhiara.AcuiferosFormExtension" tooltip="aquifers" action-command="" position="30040"/>
			</tool-bar>
		</extension>
		<extension class-name="es.icarto.gvsig.sixhiara.ExploracoesFormExtension" active="true">
			<menu text="sixhiara/exploracaoes" action-command="" position="30050" icon="es.icarto.gvsig.sixhiara.ExploracoesFormExtension"/>
			<tool-bar name="sixhiara" position="70">
				<action-tool icon="es.icarto.gvsig.sixhiara.ExploracoesFormExtension" tooltip="exploracaoes" action-command="" position="30050"/>
			</tool-bar>
		</extension>

		<extension class-name="es.icarto.gvsig.sixhiara.LoadGPXExtension" active="true">

			<menu text="sixhiara" is_separator="true" position="30060"/>

			<menu text="sixhiara/loadgpxextension" action-command="" position="30061" icon="es.icarto.gvsig.sixhiara.LoadGPXExtension"/>
			<tool-bar name="sixhiara" position="70">
				<action-tool icon="es.icarto.gvsig.sixhiara.LoadGPXExtension" tooltip="loadgpxextension" action-command="" position="30061"/>
			</tool-bar>
		</extension>

		<extension class-name="es.icarto.gvsig.sixhiara.ImportExploracoesExtension" active="true">
			<menu text="sixhiara" is_separator="true" position="30080"/>
			<menu text="sixhiara/es.icarto.gvsig.sixhiara.ImportExploracoesExtension" action-command="" position="30081" icon="es.icarto.gvsig.sixhiara.ImportExploracoesExtension"/>
			<tool-bar name="sixhiara" position="70">
				<action-tool icon="es.icarto.gvsig.sixhiara.ImportExploracoesExtension" tooltip="es.icarto.gvsig.sixhiara.ImportExploracoesExtension" action-command="" position="30081"/>
			</tool-bar>
		</extension>
		
		<extension class-name="es.icarto.gvsig.sixhiara.ExportToUtentesExtension" active="true">
			<menu text="sixhiara/es.icarto.gvsig.sixhiara.ExportToUtentesExtension" action-command="" position="30092" icon="es.icarto.gvsig.sixhiara.ExportToUtentesExtension" />
			<tool-bar name="sixhiara" position="70">
				<action-tool icon="es.icarto.gvsig.sixhiara.ExportToUtentesExtension" tooltip="es.icarto.gvsig.sixhiara.ExportToUtentesExtension" action-command="" position="30092"/>
			</tool-bar>
		</extension>
		
		<extension class-name="es.icarto.gvsig.sixhiara.LocatorByCoordsExtension" active="true">
			<menu text="sixhiara/es.icarto.gvsig.sixhiara.LocatorByCoordsExtension.menu" action-command="" position="30094" icon="es.icarto.gvsig.sixhiara.LocatorByCoordsExtension" />
			<tool-bar name="sixhiara" position="70">
				<action-tool icon="es.icarto.gvsig.sixhiara.LocatorByCoordsExtension" tooltip="es.icarto.gvsig.sixhiara.LocatorByCoordsExtension.tooltip" action-command="" position="30094" />
			</tool-bar>
		</extension>
		
	</extensions>
</plugin-config>
