<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="org.gvsig.app.mainplugin"/>
	<depends plugin-name="org.gvsig.app.document.table.app.mainplugin" />
	<depends plugin-name="org.gvsig.editing.app.mainplugin"/>
	<depends plugin-name="es.icarto.gvsig.commons"/>
	<depends plugin-name="es.icarto.gvsig.navtable"/>
	<depends plugin-name="es.icarto.gvsig.navtableforms"/>
	<depends plugin-name="es.udc.cartolab.gvsig.elle"/>
	<depends plugin-name="es.udc.cartolab.gvsig.users"/>
	<depends plugin-name="es.icarto.gvsig.copyfeatures"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="es.icarto.gvsig.sixhiara.ConfigExtension" active="true">
		</extension>
		<extension class-name="es.icarto.gvsig.sixhiara.FountainsFormExtension" active="true">
			<menu text="sixhiara/fountains" action-command="" position="30000" icon="es.icarto.gvsig.sixhiara.FountainsFormExtension"/>
			<tool-bar name="sixhiara" position="70">
				<action-tool icon="es.icarto.gvsig.sixhiara.FountainsFormExtension" tooltip="fountains" action-command="" position="1"/>
			</tool-bar>
		</extension>
		<extension class-name="es.icarto.gvsig.sixhiara.StationsFormExtension" active="true">
			<menu text="sixhiara/stations" action-command="" position="30025" icon="es.icarto.gvsig.sixhiara.StationsFormExtension"/>
			<tool-bar name="sixhiara" position="70">
				<action-tool icon="es.icarto.gvsig.sixhiara.StationsFormExtension" tooltip="stations" action-command="" position="2"/>
			</tool-bar>
		</extension>
		<extension class-name="es.icarto.gvsig.sixhiara.ReservoirsFormExtension" active="true">
			<menu text="sixhiara/reservoirs" action-command="" position="30050" icon="es.icarto.gvsig.sixhiara.ReservoirsFormExtension"/>
			<tool-bar name="sixhiara" position="70">
				<action-tool icon="es.icarto.gvsig.sixhiara.ReservoirsFormExtension" tooltip="reservoirs" action-command="" position="3"/>
			</tool-bar>
		</extension>
		<extension class-name="es.icarto.gvsig.sixhiara.AquifersFormExtension" active="true">
			<menu text="sixhiara/aquifers" action-command="" position="30075" icon="es.icarto.gvsig.sixhiara.AquifersFormExtension"/>
			<tool-bar name="sixhiara" position="70">
				<action-tool icon="es.icarto.gvsig.sixhiara.AquifersFormExtension" tooltip="aquifers" action-command="" position="4"/>
			</tool-bar>
		</extension>
	</extensions>
</plugin-config>
