<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="org.gvsig.app.mainplugin"/>
	<depends plugin-name="org.gvsig.app.document.table.app.mainplugin" />
	<depends plugin-name="org.gvsig.vectorediting.app.mainplugin"/>
	<depends plugin-name="es.icarto.gvsig.navtable"/>
	<resourceBundle name="text"/>
	<libraries library-dir="lib"/>
	<extensions>
		<extension class-name="es.udc.cartolab.gvsig.tools.CopyFeaturesExtension" active="true">

			<menu text="sixhiara/copy_features" name="_copy_features_menu" action-command="" position="30070" icon="es.udc.cartolab.gvsig.tools.CopyFeaturesExtension" />
			<tool-bar name="sixhiara" position="70">
				<action-tool icon="es.udc.cartolab.gvsig.tools.CopyFeaturesExtension" tooltip="copy_features" action-command="" position="30070"/>
			</tool-bar>
		</extension>
	</extensions>
</plugin-config>
